<%= nested_form_for(@batch) do |f| %>
  <% if @batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
      <% @batch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br />
    <%= f.date_select :due_date %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :order_date %><br />
    <%= f.date_select :order_date %>
  </div>
  <div class="field">
    <%= f.label :arrival_date %><br />
    <%= f.date_select :arrival_date %>
  </div>

  <h2>-----------------------------</h2>
  <h2>Add New Products To On This Batch</h2>
  <%= f.fields_for :products do |task_form| %>
    <%= task_form.label :sku %><br />
    <%= task_form.text_field :sku %><br />
    <%= task_form.label :quantities %><br />
    <%= task_form.number_field :quantities %><br />
    <%= task_form.label :description %><br />
    <%= task_form.text_field :description %><br />
    <%= task_form.link_to_remove "Remove this product" %>
  <% end %>
  <p><%= f.link_to_add "Add a product", :products %></p>



    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>




