<h1>Listing batches</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Due date</th>
    <th>Description</th>
    <th>Order date</th>
    <th>Arrival date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @batches.each do |batch| %>
  <tr>
    <td><%= batch.name %></td>
    <td><%= batch.due_date %></td>
    <td><%= batch.description %></td>
    <td><%= batch.order_date %></td>
    <td><%= batch.arrival_date %></td>
    <td><%= link_to 'Show', batch %></td>
    <td><%= link_to 'Edit', edit_batch_path(batch) %></td>
    <td><%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Batch', new_batch_path %>
