<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @batch.name %>
</p>

<p>
  <b>Due date:</b>
  <%= @batch.due_date %>
</p>

<p>
  <b>Description:</b>
  <%= @batch.description %>
</p>

<p>
  <b>Order date:</b>
  <%= @batch.order_date %>
</p>

<p>
  <b>Arrival date:</b>
  <%= @batch.arrival_date %>
</p>

<p>
  <b>Products:</b>
  <p>
    <table>
      <tr>
        <th>Sku</th>
        <th>Quantity</th>
        <th>Description</th>
      </tr>
      <% @batch.products.each do |q| %>
        <tr>
          <td>
            <%=q.sku%>
          </td>
          <td>
            &nbsp;<%=q.quantities%>
          </td>
          <td>
            <%=q.description%>
          </td>
        </tr>
      <% end %>
    </table>
  </p>
</p>


<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %>
